 :root {
    --base-color:#ffffff;
 }

.list {
    list-style:none;
}

.link {
    color:#434455;
    list-style: none;
    text-decoration: none;  
}

.link:hover
.link:focus {
    color: #404bbf;
}

.section-fo .list .elem {
    background-color:#FFFFFF;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.name-sektion-two,
.name-sektion-three,
.name-sektion-fo {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.section-fo {
background-color:#F4F4FD;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.span-logo {
color: #f4f4fd;
}
 /* ---------------------------------- PAGE - HEADER ------------ */
 body {
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color:var(--base-color);
 }


.page-header {
    width: 1440;
    height: 72;
    font-family: Roboto;
    background-color: --base-color;
}

.logo {
    font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        text-decoration: none;
}

.logo>.span-logo-header{
    font-style: normal;
    color: #2E2F42
}

.logo:hover, 
.logo:focus {
    color: #f7f3f4;
}
.logo > .span-logo-header:hover,
.logo > .span-logo-header:focus {
    color: #404bbf;
}

.menu-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
} 

.address a:hover, 
.address a:focus {
color: #404bbf;
}


.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* .email, 
.phone-number {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}*/
/* /////////////////  INDEX - HTML   //////////////////////// */


.hero-image {
    background-color:#2e2f42;

}

.hero-imag-name {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;

}

.hero-image .btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.hero-image .btn:hover,
.hero-image .btn:focus {
    background-color: #404BBF;
}

.name-sektion-two,
.name-sektion-elem,
.subname-fo {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.elem {
  color:#FFFFFF;  
}
/* /////////////////// PORTFOLIO - HTML  ///////////////////// */

.page-body {
font-family: Roboto, sans-serif;
color: #434455;
background-color:#2e2f42;
}

/* .filters,
.choise {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
} */

.btn {
    color: #4D5AE5;
/* Button Text */
    background-color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}


.portfolio {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        /* identical to box height, or 120% */
    
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.port-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
            /* identical to box height, or 150% */
        letter-spacing: 0.02em;
        color: #434455;
}
.portfolio .elem {
    width: 360 ;
    height: 420;

}
.footer-site {
    position: absolute;
    width: 1440px;
    height: 312px;
    background-color: #2e2f42;
}

.footer .logo {
        font-family:'Raleway', sans-serif;
        color: #4D5AE5;
        padding-left: 156px;
        padding-top: 50px;
        padding-bottom: 19px;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
    
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}   

.span-logo {
    color: #f4f4fd
}

.span-logo:hover
.span-logo:focus {
    color: #4D5AE5;
}

footer p {
    padding-left: 156px;
    padding-top: 16px;
    padding-right: 1020px;
    padding-bottom: 100px;

        color: #F4F4FD;
        position: absolute;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight:400;
        font-size:16px;
        line-height:1.17;
    letter-spacing: 0.08em;
        
}